# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Node
node_modules/
dist/
.turbo/

# Database
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Build artifacts
*.7z
*.zip

# Misc
.env
.env.local
*.log
